attrs==21.4.0
coverage==5.5
cycler==0.10.0
distlib==0.3.4
filelock==3.2.1
importlib-metadata==2.1.3
importlib-resources==3.2.1
-e git+git@github.com:floriankoechl/python-intermediate-inflammation.git@3fb95bf0cf499eefe136b9b06d21c0d17e5b54ff#egg=inflammation_analysis
iniconfig==1.1.1
kiwisolver==1.1.0
matplotlib==3.0.3
numpy==1.18.5
packaging==20.9
pathlib2==2.3.6
pkg-resources==0.0.0
platformdirs==2.0.2
pluggy==0.13.1
py==1.11.0
pyparsing==2.4.7
pytest==6.1.2
pytest-cov==2.12.1
python-dateutil==2.8.2
six==1.16.0
toml==0.10.2
virtualenv==20.13.0
zipp==1.2.0
